<div style="border:4px solid green;padding:5px;margin-bottom:5px;">

    <p>y-dash works!</p>
    <a [routerLink]="'zi'" class="p">
        <button class="btn btn-outline-secondary">" ' zi ' "</button>
    </a>

    <a [routerLink]="'/direct-letters/yDash'" class="p">
        <button class="btn btn-outline-danger" style="margin-left:25px;">" ' /direct-letters/yDash ' "(clear)</button>
    </a> <br/>
    <span style="color:green;"><strong>&lt;router-outlet&gt;</strong></span>

    <router-outlet></router-outlet>

    <span style="color:green;"><strong>&lt;router-outlet&gt;</strong></span>

    <img src="assets/images/nestedLazy/y-three-deep.PNG" style="width:100%">
</div>