.box{border: 1px solid blue;
    height:100px;
    padding:20px;
    width:550px;

     }
    .red{
      color:red;
    } 
    .overflow{
      overflow:scroll;
    }

    li{
        cursor: pointer;
    }